

body {

background-image: street at night.png;

}

p {

	color: black;
}

.title {
	color: white;
}

a {

color: black;

}

pre {

color: black;

}

#dfp {


color: pink;

}

.diffpara {

color: blue;

}