

body {



}


.weblogo {

text-align: center;

display: block;

}


p {

	color: black;
}

.title {
	color: white;
}

a {

color: black;

}

pre {

color: black;

}

#dfp {


color: pink;

}

.diffpara {

color: blue;

}